extends ./partials/layout

block title
  title Facto - Centro de recursos de fact checking | Datasketch

block css
  link(rel="stylesheet", href="assets/css/index.css")

block header
  nav
    .Container.Row.VerticalCenter.SpaceBetween
      .BurgerBox: .Burger: span
      a(href="https://www.datasketch.co/es" target="_blank" rel="noopener noreferrer"): img(src="assets/media/ds.png", alt="")
block main
  main
    section.Full.BgForest.Column.VerticalCenter.WelcomeSection
      .Container
        h1.Bitter Facto
        h3.Raleway Centro de recursos de fact checking

block js
  script(src="assets/js/index.js")