extends ./partials/layout

block title
  title Facto - Centro de recursos de fact checking | Datasketch

block css
  link(rel="stylesheet", href="assets/css/index.css")
  script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")

block header
  nav
    include partials/menu.pug
    .Container.Row.VerticalCenter.SpaceBetween
      .BurgerBox: .Burger: span
      a(href="https://www.datasketch.co/es" target="_blank" rel="noopener noreferrer"): img(src="assets/media/ds.png", alt="")
block main
  main
    section.Full.BgForest.Column.VerticalCenter.WelcomeSection
      .Container
        h1.Bitter Facto
        h3.Raleway Centro de recursos de fact checking
    section.HalfAndQuarter.Column.VerticalCenter.AboutSection
      .SmallContainer
        h1.Bitter.TextCenter Colombia Chequea
        h3.Raleway.FontLight Nuestro objetivo es verificar las declaraciones de los candidatos a congreso sobre asuntos relevantes a la campaña electoral, ya sea por el protagonismo de quien las emite, por el tema referido o por su impacto mediático. Con el fin de fortalecer el debate público, encontrar imprecisiones, demostrar incoherencias, aclarar interpretaciones y resaltar verdades.
    section.Half.BgSilk.Column.VerticalCenter.TipsSection
      .Container.TextCenter
        h1.Bitter How To
        h3.Raleway.FontLight Tips para hacer chequeo
        a.Button.ButtonColorCharcoal(href="tips.html") Ver más
    section.Half.SearchSection.Column.VerticalCenter
      .Container.TextCenter
        h1.Bitter Frases para chequear en la hackaton
        .Row.HorizontalCenter
          a.Button.ButtonColorForest(href="frases.html" style="margin-right: 20px") Ver más
          a.Button.ButtonColorPale(href="https://docs.google.com/forms/d/e/1FAIpQLScFlGdsjvLjmXFyJJjkgg9pmO_YMiwkQRM42vVGVrjfwpkWjg/viewform" target="_blank" rel="nooopener noreferrer") Envía los resultados de tu chequeo
    section
      p.Raleway(style="font-size: small; padding: 0 5px") El material utilizado para la hackatón Colombia Chequea fue recopilado por Consejo de Redacción con su medio Colombiacheck, en alianza con Datasketch, Chicas Poderosas, Hacks and Hackers Bogotá y la MOE, con el apoyo de NED, la Universidad Javeriana y Google Colombia
    section(style="border-top: 1px solid #cacece")
      img(src="assets/media/allies.png", alt="" style="max-width: 100%")
    section.BgLight.Half.Column.VerticalCenter.AccessSection
      .Container.TextCenter
        h1.Bitter Accede a las fuentes
        a.Button.ButtonColorCharcoal(href="acceso.html") Ver datos
    section.Column.ExploreSection.Half.VerticalCenter
      .Container
        h1.Bitter.TextCenter Explora
        .Row.SpaceBetween.Wrap
          .TriadItem.Column.HorizontalCenter.TextCenter
            i.fas.fa-external-link-square-alt.fa-5x
            a.Button(href="recursos-externos.html") Recursos Externos
          .TriadItem.Column.HorizontalCenter.TextCenter
            i.fas.fa-database.fa-5x
            a.Button(href="bases-de-datos.html") Bases de datos
          .TriadItem.Column.HorizontalCenter.TextCenter
            i.fas.fa-wrench.fa-5x
            a.Button(href="herramientas.html") Herramientas
    section.BgSilk.Half.Column.VerticalCenter.AccessSection
      .Container.TextCenter
        h1.Bitter Revive la Hackaton
        a.Button.ButtonColorCharcoal(href="presentaciones.html") Ver presentaciones

block js
  script(src="assets/js/index.js")