extends ./partials/layout

block title
  title Facto - Centro de recursos de fact checking | Datasketch

block css
  link(rel="stylesheet", href="assets/css/index.css")

block header
  nav
    .Container.Row.VerticalCenter.SpaceBetween
      .BurgerBox: .Burger: span
      a(href="https://www.datasketch.co/es" target="_blank" rel="noopener noreferrer"): img(src="assets/media/ds.png", alt="")
block main
  main
    section.Full.BgForest.Column.VerticalCenter.WelcomeSection
      .Container
        h1.Bitter Facto
        h3.Raleway Centro de recursos de fact checking
    section.HalfAndQuarter.Column.VerticalCenter.AboutSection
      .Container.TextCenter
        h1.Bitter ¿Qué es fact checking?
        h3.Raleway.FontLight Descripción de qué es fact checking
        a.Button.ButtonColorPale(href="#") Ver más
    section.HalfAndQuarter.BgSilk.Column.VerticalCenter.TipsSection
      .Container.TextCenter
        h1.Bitter ¿Cómo saber si es fake?
        h3.Raleway.FontLight Tips para identificar cosas feas
        a.Button.ButtonColorCharcoal(href="#") Ver más
    section.Full.SearchSection
    section.BgLight.Half.Column.VerticalCenter.AccessSection
      .Container.TextCenter
        h1.Bitter Accede a las fuentes
        a.Button.ButtonColorForest(href="") Ver datos
    section.HalfAndQuarter.Column.VerticalCenter.ExploreSection
      .Container
        h1.Bitter.TextCenter Explora
        .QuadContainer.Row.Wrap
          .QuadItem.Raleway.BgForest
            .QuadContent.Column.Center
              a.Underline(href="#") Organizaciones
          .QuadItem.Raleway.BgSilk
            .QuadContent.Column.Center
              a.Underline(href="#") Recursos Externos
          .QuadItem.Raleway.BgSilk
            .QuadContent.Column.Center
              a.Underline(href="#") Bases de datos
          .QuadItem.Raleway.BgElectric
            .QuadContent.Column.Center
              a.Underline(href="#") Herramientas
          




block js
  script(src="assets/js/index.js")