extends ./partials/layout

block title
  title Aprender - Facto | Datasketch

block css
  link(rel="stylesheet", href="assets/css/inner-page.css")

block header
  include ./partials/inner-nav

block main
  main
    .Full.Row
      .Container
        h1.Bitter Recursos Externos
        #renderer
          .CardContainer
            .Card(v-for="tool in tools")
              .CardHeader
                .CardTitle
                  p {{tool.tutorial}}
                .CardSubtitle
                  small {{tool.org}}
              .CardContent
                p {{tool.description}}
              .CardFooter
                a.CardButton(v-bind:href="tool.link" target="_blank" rel="nooopener noreferrer") Visitar

block js
  script(src="vendors/vue.min.js")
  script(src="vendors/tabletop.min.js")
  script(src="assets/js/aprender.js")