footer.BgForest.Raleway.TextColorWhite
  .SmallContainer
    p El material utilizado para la hackatón Colombia Chequea fue recopilado por Consejo de Redacción con su medio Colombiacheck, en alianza con Datasketch, Chicas Poderosas, Hacks and Hackers Bogotá y la MOE, con el apoyo de NED, la Universidad Javeriana y Google Colombia