footer
  .footer-container
    p
      | Este es un trabajo de periodismo de datos del equipo de 
      a.text-color--white(href="https://www.datasketch.co/es/team" target="_blank" rel="noopener noreferrer") Datasketch
      | . Revisa cómo creamos este especial en la 
      a.text-color--white(href="metodologia.html") metodología
    p
      | Todo el material en esta página es 
      a.text-color--white(href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer") CC-BY-SA
      | . Si reusas o adaptas recursos de esta página, por favor vincula y referencia nuestro artículo o sitio web.
      img.block(src="assets/media/cc.png", alt="Creative Commons")