.Menu.Column.VerticalCenter
  .Container.Column(style="align-items: flex-start")
    a(href="index.html") Inicio
    a(href="tips.html") How To: Tips para hacer chequeo
    a(href="frases.html") Frases para chequear
    a(href="acceso.html") Accede a las fuentes
    a(href="recursos-externos.html") Recursos externos
    a(href="bases-de-datos.html") Bases de datos
    a(href="herramientas.html") Herramientas
